
body {
	margin: 0;
	padding: 0;
	display: flex;
	flex-direction: column;
	background-color: white;
	font-family: bold;




}

nav {
	background: #F5F5F5;
	margin: 0;
	padding: 0;
	position: sticky;
	top: 0;


}

nav ul{
	display: flex;
	justify-content: space-around;
	list-style-type: none;
	padding: 0;

}

nav a {
	color: black;
	text-transform: uppercase;
	font-size: 20px;
	text-decoration: none;
	display: block;
	padding: 10px;
}

.header {
	color: black;
	display: flex;
	justify-content: center;
	font-size: 60px;
	font-family: sans-serif;
	text-transform:uppercase;
	margin: 70px;

}

.container {
	display: flex;
	justify-content: center;
	margin-bottom: 100px;

}

.box {
	text-align: center;
	background-color:	#708090;
	border-radius: 20px;
	width: 800px;
	padding: 30px;
	margin: auto;
	font-size: 20px;

}

.content {
	text-align: left;
	color: white;
	padding: 20px;


}

.title {
	color: white;
}

.name {
	color: white;
}

.publishedDate {
	color: white;

}

.likeCounter {
	margin-bottom: 30px;
	color: white;
}
