body {

	display: flex;
	flex-direction: column;
	background-color: white;
	font-family: bold;
}

nav {
	background-color: #F5F5F5;
	position: sticky;
	top: 0;
}

nav ul {
	display: flex;
	justify-content: space-around;
	list-style-type: none;
	padding: 0;
}

nav a {
	color: black;
	text-transform: uppercase;
	font-size: 20px;
	text-decoration: none;
	display: block;
	padding: 10px;
}

nav a:hover {
	opacity: 1;
	color:#708090;
}

.header {
	color: black;
	display: flex;
	justify-content: center;
	font-size: 40px;
	font-family: sans-serif;
	text-transform:uppercase;
	margin: 70px;
}

.container {
	display: flex;
	justify-content: center;
	margin-bottom: 100px;
}

.box {
	text-align: center;
	background-color:	#708090;
	border-radius: 40px;
	width: 650px;
	padding: 30px;
	margin: auto;
	font-size: 20px;
}

.content {
	text-align: left;
	color: white;
	padding: 20px;
}

.title {
	color: white;
}

.name {
	color: white;
}

.publishedDate {
	color: white;
}

.likeCounter {
	margin-bottom: 30px;
	color: white;
}
