
		 body {
		display: flex;
		flex-direction: column;
		 background-color: white;

	 	}

		nav {
		background: 	#F5F5F5;
		}

		nav ul{
		display: flex;
		justify-content: space-around;
		list-style-type: none;
		padding: 0;

		}

		nav a {
			color: black;
			text-transform: uppercase;
			font-family: bold;
			font-size: 20px;
			text-decoration: none;
			display: block;
			padding: 10px;
		}

		.header {
		display: flex;
		justify-content: center;
		margin: 40px;
		 font-size: 40px;
		 font-family: bold;
		 text-transform:uppercase;
		}

		.container {
			display: flex;
			justify-content: center;

		}

		  .box {
			text-align: center;
			background-color: #A9A9A9;
			border-radius: 20px;
			width: 600px;
			height: 400px;
			margin-bottom: 40px;
			padding: 30px;
		  }

		  .content {
			  text-align: left;
			  color: white;
		  }

		  .title {
		  	color: white;
		  }

		  .name {
			color: white;
		  }

		  .publishedDate {
			color: white;

		  }

		  .likeCounter {
			  margin-bottom: 30px;
			  color: white;
		  }
